<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark fixed-top z-depth-3"
    [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Loki</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/customerlist'">Customer</a>

            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Order</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Invoice</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Report</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Configurations</a>
            </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fab icon="google-plus"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->